@model List<Login>

@{
    ViewData["Title"] = "Produc List";
}

<div class="text-center">
    
    <p>Sicil: @Model[0].Sicil Şifre:@Model[0].Sifre </p>
    <p>Sicil: @Model[1].Sicil Şifre:@Model[1].Sifre</p>
</div>
